<!DOCTYPE html>
<html lang="en">
<head>
   <% include common/pagehead %>
   <link rel="stylesheet" href="/markdown/demo.css" />
</head>
<body>
    <% include common/top %>
    <div class="container">
        <% include common/header %>
        <div class="row index-banner">
            <div class="carousel-caption">
                <h1>Hello MYcms</h1>
            </div>
        </div>
    </div>
    <% include common/footer %>
</body>
<script type="text/javascript" src="/javascripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
