<div class="row header">
    <div class="col-xs-4">
        <div class="row">
            <h1 class="col-xs-12">
                Mycms<span class="small pl15"><%=subtitle%></span>
            </h1>
        </div>
    </div>
    <div class="col-xs-8"></div>
</div>

