<div class="top">
  <div class="container">
      <div class="row">
         <div class="user-oper col-xs-4">
            <a href="/login">登录</a>
            <a href="/reg">注册</a>
         </div>
         <div class="post-oper col-xs-2 col-xs-offset-6">
            <a href="/user/post">写博客</a>
         </div>
      </div>
  </div>
</div>
